doctype
html
  head
    meta(charset="UTF-8")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js")
    script(src="script.js")
  body(ng-app="oneTimeBidingExampleApp")
    div.example2(ng-controller="EventController")
      button(ng-click="clickMe()") Click Me
      p#one-time-binding-example One time binding: {{::name}}
      p#normal-binding-example Normal binding: {{name}}
