doctype
html(ng-app="docsIsolationExample")
  head
    meta(charset="UTF-8")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="script.js")
  body
    div(ng-controller="Controller")
      my-customer(info="naomi")
