doctype
html(ng-app="svgAttrExample")
  head
    meta(charset="UTF-8")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="script.js")
  body
    div(ng-controller="Controller")
      svg(width="400",height="400")
        g(fill="rgba(120,150,255,0.2)",stroke="black")
          circle(ng-repeat="c in data",cx="{{c.x}}",cy="{{c.y}}",r="{{c.r}}")
