doctype
html
  head
    meta(charset="UTF-8")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="script.js")
  body(ng-app="dragModule")
    span(my-draggable) Drag ME
    | &nbsp; 
    span(my-draggable) Drag ME
