doctype
html
  head
    meta(charset="UTF-8")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js")
    script(src="script.js")
  body(ng-app="expressionExample")
    div.example2(ng-controller="ExampleController")
      | Name: 
      input(ng-model="name",type="text")
      button(ng-click="greet()") Greet
      button(ng-click="window.alert('Should not see me')") Won't greet
